$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    margin:0;
    width: 100%;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.o-r-list-cont{
  margin-left:20px;
  margin-right:20px;
  height:400px;
  border-radius:15px;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
}


.o-r-list-header{
  text-align:center;
  width:100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-top:6px;
  padding-bottom:3px;
  font-size:18px;
}

.o-r-distance{
  color:gray;
}

.o-r-list-contents{
  height:350px;
  overflow:scroll;
  overflow-x:hidden;
}

.o-r-list{
  
}

.o-r-btn{
  padding: 3px;
  margin-bottom:10px;
}

.request{
  padding: 3px 10px 3px 10px;
}

.request:hover { 
  box-shadow: inset 0px 0px 1px #000;
}

.request-info{
  padding: 0px 10px 0px 30px; 
}

.request-header{

}

.category-image{
  
}

.offerInfo{
  margin-bottom: 10px;
}

.offerInfoTitle{
  font-weight:bold;
  font-size:18px;
}

.offerInfoText{
  font-size:16px;
}

.offerDetailHeader{
  font-style:italic;
  font-size:16px;
  color:rgb(150,150,150);
}

.offerDetailText{
  padding-left:20px;
}