
<div class="row-fluid">
<div class="{{user.provider === 'password'? 'col-md-4' : 'col-md-12'}}">
  <h3>Profile</h3>

  <form role="form">
<!--     <p class="form-group">
      <label>Account ID</label>
      <br />{{user.uid}}
    </p> -->

    <p class="form-group">
      <label>Name:</label>
      <input type="text" name="name" ng-model="profile.name" class="form-control" />
    </p>

    <p class="form-group">
      <label>Email:</label>
      <br />{{profile.email}}
    </p>

    <p class="form-group">
      <label>Bio:</label>
      <input type="text" class="form-control" />
    </p>

<!-- Code source for address form: http://bootsnipp.com/snippets/featured/generic-postal-address-form -->
<div class="container">
  <div class="row">
     <form class="form-horizontal">
            <fieldset>
                <!-- Address form -->
         
                <h2>Address</h2>
         
                <!-- full-name input-->
                <div class="control-group">
                    <label class="control-label">Full Name</label>
                    <div class="controls">
                        <input id="full-name" name="full-name" type="text" placeholder="full name"
                        class="input-xlarge">
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- address-line1 input-->
                <div class="control-group">
                    <label class="control-label">Address Line 1</label>
                    <div class="controls">
                        <input id="address-line1" name="address-line1" type="text" placeholder="address line 1"
                        class="input-xlarge">
                        <p class="help-block">Street address, P.O. box, company name, c/o</p>
                    </div>
                </div>
                <!-- address-line2 input-->
                <div class="control-group">
                    <label class="control-label">Address Line 2</label>
                    <div class="controls">
                        <input id="address-line2" name="address-line2" type="text" placeholder="address line 2"
                        class="input-xlarge">
                        <p class="help-block">Apartment, suite , unit, building, floor, etc.</p>
                    </div>
                </div>
                <!-- city input-->
                <div class="control-group">
                    <label class="control-label">City / Town</label>
                    <div class="controls">
                        <input id="city" name="city" type="text" placeholder="city" class="input-xlarge">
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- region input-->
                <div class="control-group">
                    <label class="control-label">State / Province / Region</label>
                    <div class="controls">
                        <input id="region" name="region" type="text" placeholder="state / province / region"
                        class="input-xlarge">
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- postal-code input-->
                <div class="control-group">
                    <label class="control-label">Zip / Postal Code</label>
                    <div class="controls">
                        <input id="postal-code" name="postal-code" type="text" placeholder="zip or postal code"
                        class="input-xlarge">
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- country -->
                <div class="control-group">
                    <label class="control-label">Country</label>
                    <div class="controls">
                        <input id="country" name="country" type="text" placeholder="country"
                        class="input-xlarge">
                        <p class="help-block"></p>
                    </div>
          </fieldset>
        </form>
      </div>
    </div>

    <p>
      <button role="button" ng-click="saveAddress()" class="btn btn-danger">Save</button>
    </p>
  </form>

  <p>
    <button role="button" ng-click="logout()" class="btn btn-danger">Log Out</button>
  </p>
</div>

<div class="col-md-4" ng-show="{{user.provider === 'password'}}">
<form role="form">
  <h3>Change Password</h3>

  <p class="form-group">
    <label>Old Password:</label>
    <input type="password" ng-keypress="clear()" ng-model="oldpass" class="form-control" />
  </p>

  <p class="form-group">
    <label>New Password:</label>
    <input type="password" ng-keypress="clear()" ng-model="newpass" class="form-control" />
  </p>

  <p class="form-group">
    <label>Confirm New Password:</label>
    <input type="password" ng-keypress="clear()" ng-model="confirm" class="form-control" />
  </p>

  <button class="btn btn-primary" ng-click="changePassword(oldpass, newpass, confirm)">change password</button>

  <p class="error" ng-show="err">{{err}}</p>
  <p class="good" ng-show="msg">{{msg}}</p>
</form>
</div>

<div class="col-md-4" ng-show="{{user.provider === 'password'}}">
<form>
  <h3>Change Email</h3>

  <p class="form-group">
    <label>New Email:</label>
    <input type="text" ng-keypress="clear()" ng-model="newEmail" class="form-control" />
  </p>

  <p class="form-group">
    <label>Password:</label>
    <input type="password" ng-keypress="clear()" ng-model="pass" class="form-control" />
  </p>

  <button class="btn btn-primary" ng-click="changeEmail(pass, newEmail)">update email</button>
</form>
</div>

</div>
<p class="clearfix"></p>
<div ng-repeat="message in messages" class="alert alert-{{message.type}}">{{message.text}}</div>
