<div class="row">
   <div class="col-sm-6">
      <div class="o-r-list-cont">
         <div class="o-r-list-header" style="background-color:#e9e9b0">
            Request list
         </div>
         
         <div class="o-r-list-contents">
            <div class="request" data-toggle="collapse" data-target="#demo1">
               <img src="images/category-testimage.jpg" class="category-image"/>
               <b>Sample Organization</b>
               0.8 mi
               <i>1/15/16</i>
            </div>
            <div id="demo1" class="collapse request-info">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit,
               sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
               quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br/>
               <div style="text-align:right">
                  <button type="button" class="btn btn-success o-r-btn">Make Offer</button>
               </div>
            </div>

            <div class="request" data-toggle="collapse" data-target="#demo2">Simple collapsible</div>
            <div id="demo2" class="collapse request-info">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit,
               sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
               quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>

            <div class="request" data-toggle="collapse" data-target="#demo3">Simple collapsible</div>
            <div id="demo3" class="collapse request-info">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit,
               sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
               quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>

            <div class="request" data-toggle="collapse" data-target="#demo4">Simple collapsible</div>
            <div id="demo4" class="collapse request-info">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit,
               sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
               quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>

            <div class="request" data-toggle="collapse" data-target="#demo4">Simple collapsible</div>
            <div id="demo4" class="collapse request-info">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit,
               sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
               quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>

            <div class="request" data-toggle="collapse" data-target="#demo4">Simple collapsible</div>
            <div id="demo4" class="collapse request-info">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit,
               sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
               quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>

            <div class="request" data-toggle="collapse" data-target="#demo4">Simple collapsible</div>
            <div id="demo4" class="collapse request-info">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit,
               sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
               quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
         </div>

      </div>
   </div>
   <div class="col-sm-6">
      <div class="o-r-list-cont">
         <div class="o-r-list-header" style="background-color:#b0b0e9">
            Offer List
         </div>
         <div class="o-r-list-contents">
         </div>
      </div>
   </div>
</div>