<div style="text-align: center">
	<div class="logo">
		SupportNet
	</div>

	<div class="firsthook">
		Donate to Shelters in Real Time!
	</div>

	<div>
		Connect to local shelters and donate what they need the most (scratch)
	</div>

	<div class="row">
		<div class="col-sm-6">
			Put image here
		</div>
		<div class="col-sm-6">
			More info + register button
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3">
			1
		</div>
		<div class="col-sm-3">
			2
		</div>
		<div class="col-sm-3">
			3
		</div>
	</div>

	<div class="lasthook">
		Final hook
	</div>
</div>