<div class="landing-wrapper">



	<div style="text-align: center">
		<img style="margin-top:20px;" class="infograph" src="..\images\landing_infograph.png">
	</div>


<div class="row">
	<div class="col-sm-4">
		<img class="img-circle img-responsive img-center" src="../images/conversation.png" alt="">
		<h2>Know what's happening in your local shelters and non-profit orgs</h2>
		<p>These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.</p>
	</div>
	<div class="col-sm-4">
		<img class="img-circle img-responsive img-center" src="../images/trashtreasure.png" alt="">
		<h2>Donate things you don't need to those who might need it the most</h2>
		<p>The images are set to be circular and responsive. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
	</div>
	<div class="col-sm-4">
		<img class="img-circle img-responsive img-center" src="../images/happy.png" alt="">
		<h2>See the good you've done in a tangible way</h2>
		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
	</div>

	<div class="lasthook">
		Final hook
	</div>
</div>
</div>
